In [1]:
import pandas as pd
import numpy as np

### pandas series

we will start analysing population and for that we will use pandas.Series object

In [3]:
pop=pd.Series((23.456, 78.232,81.112,133.229,433.124,30.999))
pop

0     23.456
1     78.232
2     81.112
3    133.229
4    433.124
5     30.999
dtype: float64

In [4]:
pop.name='Population in Millions'

In [5]:
pop  #series are pretty similar to numpy arrays

0     23.456
1     78.232
2     81.112
3    133.229
4    433.124
5     30.999
Name: Population in Millions, dtype: float64

In [6]:
pop.dtype

dtype('float64')

In [7]:
pop.values        #they are backed by numpy values

array([ 23.456,  78.232,  81.112, 133.229, 433.124,  30.999])

In [8]:
type(pop.values)

numpy.ndarray

In [ ]:
#they look like simple python lists or numpy arrays. A series hs an index.

In [ ]:
# we can define the index in a series

In [9]:
pop.index=['Canada','India','China','Africa','UK','Germany']

In [10]:
pop

Canada      23.456
India       78.232
China       81.112
Africa     133.229
UK         433.124
Germany     30.999
Name: Population in Millions, dtype: float64

In [16]:
# other ways of creating series
pd.Series({'Canada':  23.456,'India':78.232,'China':81.112,'Africa':133.229,'UK':433.124,'Germany':30.999},
name='Population in Millions')

Canada      23.456
India       78.232
China       81.112
Africa     133.229
UK         433.124
Germany     30.999
Name: Population in Millions, dtype: float64

In [17]:
pd.Series(pop, index=['India','UK','Africa','Spain'])

India      78.232
UK        433.124
Africa    133.229
Spain         NaN
Name: Population in Millions, dtype: float64

### Indexing

In [18]:
pop['Africa']

133.229

In [20]:
# numeric position can be used with the iloc attribute
pop.iloc[2]

81.112

In [21]:
# Slicing also works in pandas but the UPPER LIMIT IS ALSO INCLUDED UNLIKE OTHERS.
pop['Canada':'Africa']

Canada     23.456
India      78.232
China      81.112
Africa    133.229
Name: Population in Millions, dtype: float64

In [23]:
#Boolean
pop>70

Canada     False
India       True
China       True
Africa      True
UK          True
Germany    False
Name: Population in Millions, dtype: bool

In [25]:
pop[pop>70]

India      78.232
China      81.112
Africa    133.229
UK        433.124
Name: Population in Millions, dtype: float64

In [26]:
pop.mean()

130.02533333333335

In [27]:
# Mathematical Operations
pop*1000000

Canada      23456000.0
India       78232000.0
China       81112000.0
Africa     133229000.0
UK         433124000.0
Germany     30999000.0
Name: Population in Millions, dtype: float64

In [28]:
np.log(pop)

Canada     3.155126
India      4.359679
China      4.395831
Africa     4.892069
UK         6.071024
Germany    3.433955
Name: Population in Millions, dtype: float64

In [29]:
pop[(pop>20)&(pop<100)]

Canada     23.456
India      78.232
China      81.112
Germany    30.999
Name: Population in Millions, dtype: float64

In [32]:
#MODIFYING SERIES
pop['Canada']=25.788
pop

Canada      25.788
India       78.232
China       81.112
Africa     133.229
UK         433.124
Germany     30.999
Name: Population in Millions, dtype: object

In [34]:
pop.iloc[-1]=50.881
pop

Canada      25.788
India       78.232
China       81.112
Africa     133.229
UK         433.124
Germany     50.881
Name: Population in Millions, dtype: object

In [35]:
pop[pop<70]=99.999
pop

Canada      99.999
India       78.232
China       81.112
Africa     133.229
UK         433.124
Germany     99.999
Name: Population in Millions, dtype: object